[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
jupyter = "*"
torch = "*"
torchvision = "*"
numpy = "*"
pandas = "*"
gym = "*"
mlagents = "==0.4.0"
matplotlib = "*"
seaborn = "*"

[requires]
python_version = "3.6"
